<!DOCTYPE html>
<html lang="en" xmlns:>
<head>
    <meta charset="UTF-8">
    <title>user_name</title>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="../Chart.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../stylesheets/style.css" rel="stylesheet" type="text/css">
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">

</head>
<body style="background-color: #edeef0; background-image: url(html/background.jpg);
                background-repeat: no-repeat; background-size: cover;">
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Work done</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                           aria-controls="home" aria-selected="true">Week</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                           aria-controls="profile" aria-selected="false">Month</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                           aria-controls="contact" aria-selected="false">Year</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <p>
                            <canvas id="weekChart" width="400" height="400"></canvas>
                            <script>
                                var ctx = document.getElementById("weekChart").getContext('2d');
                                var weekChart = new Chart(ctx, {
                                    type: 'line',
                                    data: {
                                        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                                        datasets: [{
                                            label: '# of Votes',
                                            data: [12, 19, 3, 5, 2, 3],
                                            backgroundColor: [
                                                'rgba(255,89,54,0.2)',
                                                'rgba(255,89,54,0.2)',
                                                'rgba(255,89,54,0.2)',
                                                'rgba(255,89,54,0.2)',
                                                'rgba(255,89,54,0.2)',
                                                'rgba(255,89,54,0.2)',
                                            ],
                                            borderColor: [
                                                'rgba(255,89,54,1)',
                                                'rgba(255,89,54,1)',
                                                'rgba(255,89,54,1)',
                                                'rgba(255,89,54,1)',
                                                'rgba(255,89,54,1)',
                                                'rgba(255,89,54,1)',
                                            ],
                                            borderWidth: 1
                                        }]
                                    },
                                    options: {
                                        scales: {
                                            yAxes: [{
                                                ticks: {
                                                    beginAtZero: true
                                                }
                                            }]
                                        }
                                    }
                                });
                            </script>
                        </p>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <p>
                            <canvas id="monthChart" width="400" height="400"></canvas>
                            <script>
                                var ctx = document.getElementById("monthChart").getContext('2d');
                                var monthChart = new Chart(ctx, {
                                    type: 'line',
                                    data: {
                                        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                                        datasets: [{
                                            label: '# of Votes',
                                            data: [12, 19, 3, 5, 2, 3],
                                            backgroundColor: [
                                                'rgba(42,198,61,0.2)',
                                                'rgba(42,198,61,0.2)',
                                                'rgba(42,198,61,0.2)',
                                                'rgba(42,198,61,0.2)',
                                                'rgba(42,198,61,0.2)',
                                                'rgba(42,198,61,0.2)',
                                            ],
                                            borderColor: [
                                                'rgba(42,198,61,1)',
                                                'rgba(42,198,61,1)',
                                                'rgba(42,198,61,1)',
                                                'rgba(42,198,61,1)',
                                                'rgba(42,198,61,1)',
                                                'rgba(42,198,61,1)',
                                            ],
                                            borderWidth: 1
                                        }]
                                    },
                                    options: {
                                        scales: {
                                            yAxes: [{
                                                ticks: {
                                                    beginAtZero: true
                                                }
                                            }]
                                        }
                                    }
                                });
                            </script>
                        </p>
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <p>
                            <canvas id="yearChart" width="400" height="400"></canvas>
                            <script>
                                var ctx = document.getElementById("yearChart").getContext('2d');
                                var yearChart = new Chart(ctx, {
                                    type: 'line',
                                    data: {
                                        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                                        datasets: [{
                                            label: '# of Votes',
                                            data: [12, 19, 3, 5, 2, 3],
                                            backgroundColor: [
                                                'rgba(67,67,74,0.2)',
                                                'rgba(67,67,74,0.2)',
                                                'rgba(67,67,74,0.2)',
                                                'rgba(67,67,74,0.2)',
                                                'rgba(67,67,74,0.2)',
                                                'rgba(67,67,74,0.2)',
                                            ],
                                            borderColor: [
                                                'rgba(67,67,74,1)',
                                                'rgba(67,67,74,1)',
                                                'rgba(67,67,74,1)',
                                                'rgba(67,67,74,1)',
                                                'rgba(67,67,74,1)',
                                                'rgba(67,67,74,1)',
                                            ],
                                            borderWidth: 1
                                        }]
                                    },
                                    options: {
                                        scales: {
                                            yAxes: [{
                                                ticks: {
                                                    beginAtZero: true
                                                }
                                            }]
                                        }
                                    }
                                });
                            </script>
                        </p>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-lg"
                 style="margin-top: 30px; background: #edeef0; border-radius: 13px; padding: 10px; border-color: #343a40">
                <div class="row card-body">
                    <div class="col-3">
                        <img class="rounded" src="https://png.icons8.com/material/250/122933/gender-neutral-user.png"
                             style="border: 1px solid #122933; background: #edeef0">
                    </div>
                    <div class="col-5" >
                        <div class="">
                            <h2 class="card-title"><%= Name %></h2>
                            <p class="card-subtitle text-muted"><%= JobTitle %></p>

                        </div>
                        <div class="row">
                            <div class="col-9">
                                <div class="list-group mt-3">
                                    <li style="border-color: #343a40"
                                        class="list-group-item d-flex justify-content-between align-items-center ">
                                        Points
                                        <span class="badge badge-primary badge-pill badge-secondary"><%= points %></span>
                                    </li>
                                    <li style="border-color: #343a40"
                                        class="list-group-item d-flex justify-content-between align-items-center ">
                                        Tasks in progress
                                        <span class="badge badge-primary badge-pill badge-secondary">value</span>
                                    </li>
                                    <li style="border-color: #343a40"
                                        class="list-group-item d-flex justify-content-between align-items-center">
                                        Tasks done this month
                                        <span class="badge badge-primary badge-pill badge-secondary">value</span>
                                    </li>
                                    <li style="border-color: #343a40"
                                        class="list-group-item d-flex justify-content-between align-items-center">
                                        Done in total
                                        <span class="badge badge-primary badge-pill badge-secondary">value</span>
                                    </li>
                                </div>
                            </div>


                        </div>

                    </div>
                    <div class="col-4">
                        <canvas id="myChart" width="200" height="150"></canvas>
                    </div>
                </div>
            </div>
        </div>

            <div class="container shadow-lg"
                 style="margin-top: 30px; border-radius: 13px; padding: 10px; border-color: #343a40">

            </div>
        </div>

            <div class="card">
                <div class="card-body" style="background: #edeef0;">
                    <div class="row">
                        <div class="col-10">
                            <h2 class="card-title">Done tasks:</h2>
                        </div>
                        <div class="col-1">
                            <a href="/html/group_page.html" > <button class="btn btn-outline-secondary-1" style="margin-left: 43px"> Group page</button> </a>
                        </div>
                    </div>

                    <ul class="list-group" id="container">
                        <li class="list-group-item task" style="background: #edeef0">
                            <div class="row">
                                <div class="col-9">
                                    <h3 class="title">123</h3>
                                    <p class="text-muted subject">123</p>
                                </div>
                                <div class="col-3">
                                    <div class="container">
                                        <div class="row justify-content-end">
                                            <p class="date text-muted">2018-44-60</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>


    <script src="/Controllers/userPageController.js"></script>

</body>
</html>