<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WPO</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="../public/stylesheets/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">

</head>
<body style="background-image: url(/html/background.jpg);>;
                background-repeat: no-repeat; background-size: cover;" >
<!-- LogIn modal form -->
<div class="modal" tabindex="-1" role="dialog" id="log-in-form" area-labelledby="log-in-form" area-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #6A6A74; color: white">
                <h3 class="modal-title">Log In</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--the form itself-->
                <form>
                    <div class="form-group1" style="margin-bottom: 10px">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group2" style="margin-bottom: 20px">
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        <p style="margin-top: 5px; font-size: 13pt; color: black"> Have never been here before? <a href="registration_page.html">Register!</a></p>
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="background-color: #6A6A74; opacity: 0.75">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="home_page.html"><button type="button" class="btn btn-primary">Enter Account</button></a>
            </div>
        </div>
    </div>
</div>



<br><br><br><br><br>
<div class="row justify-content-center align-content-center mt-5">
    <div class="col-4">
        <div class="card">
            <div class="card-body">

                <img class="img-fluid mb-3" src="/html/logo.png" style="width: 500px">
                <form method="post" action="/register">

                    <h6> Please, register.</h6>
                    <input class="form-control mr-sm-2-2" type="text" placeholder="Email" aria-label="First name" id="login" style="margin-bottom: 10px" name="email">

                    <input class="form-control mr-sm-2-2" type="password" placeholder="Password" aria-label="First name"  id="password" name="password" style="margin-bottom: 10px">
                    <input class="form-control mr-sm-2-2" type="password" placeholder="Confirm password" aria-label="First name"  id="confirmPassword" name="confirmPassword" style="margin-bottom: 10px">

                    <input class="btn btn-outline-secondary-1 form-control mr-sm-2-2-2" type="submit" name="" value="Register" >
                </form>

            </div>
        </div>
    </div>
</div>


</body>
</html>