<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


</head>
<body style="background-color: #edeef0; background-image: url(/html/background.jpg);
background-repeat: no-repeat; background-size: cover;">
<div class="container shadow-lg" style="margin-top: 30px; background: #edeef0; border-radius: 13px; padding: 10px; border-color: #343a40">
    <div class="row card-body">
        <h3>Welcome to TaskHub! </h3>
    </div>
</div>
<div class="container shadow-lg btn-outline-secondary-1" style="margin-top: 30px; background: #edeef0; border-radius: 13px; padding: 10px; border-color: #343a40">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="TaskHub" aria-selected="true" style="color: #343a40">TaskHub</a>

        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="Rating" aria-selected="false" style="color: #343a40">Rating</a>

        </li>

    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active border-dark" id="home" role="tabpanel" aria-labelledby="home-tab"><!-- List group -->
            <div class="list-group" id="myList" role="tablist">
                <a class="list-group-item list-group-item-action active" data-toggle="list" href="#home" role="tab">Home</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#prohrthfile" role="tab">Profile</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#messages" role="tab">Messages</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#settings" role="tab">Settings</a>
            </div>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="home1" role="tabpanel">...</div>
                <div class="tab-pane" id="profile1" role="tabpanel">...</div>
                <div class="tab-pane" id="messages" role="tabpanel">...</div>
                <div class="tab-pane" id="settings" role="tabpanel">...</div>
            </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"><h1> Rating</h1></div>
    </div>
</div>


</body>
</html>