body {
  padding: 50px;
  font: 14px "Nanum+Myeongjo", sans-serif !important;
}

p {
  font-size: 16pt;
  color: #FFFFFF;
}

.navbar-default {
  background: #fff;
  font-weight: bold;

  font-size: 35pt;
  color: #343a40;
  border-color: #343a40;
}
.navbar {
  background: #fff;
  font-weight: bold;

  font-size: 35pt;
  color: #343a40;
  border-color: #343a40;
}
.nav-item{
  border-color: #616161;
  color: #000000;

}
.nav-link{
  border-color: #616161;
  color: #000000;
}
.nav-link:focus {
  border-color: #616161;
  color: #000000;
}
body .btn-outline-secondary {
  border-color: #616161;
  color: #000000;
}
body .btn-primary-card {
  background-color: transparent;
  color: #343a40;
  border-color: #212529;
}

body .btn-primary-input {

  color: #343a40;
  border-color:#343a40;
}
body .btn-primary-input::placeholder {

  color: #343a40;
  border-color: #343a40;
}
body .nav-link.active{
  background-color:#343a40;
}

body .btn-outline-secondary:hover {
  background: #F5F5F5;
  color: #d0d0e0;
  border-color: #d0d0e0;
}
body .btn-outline-secondary:focus {
  box-shadow: 0 0 0 .2rem rgba(211, 211, 211, .25);
}
body .btn-disabled {
  background-color: #D0D0e0;
  color: black;
  font-size: 13pt;
}

.alert-secondary {
  background: #888899;
  border-color: #6A6A74;
}

body .btn-primary {
  background-color: #888899;
  border-color: #D0D0e0;
  color: #000000;
}

body .btn-primary:hover {
  background: #888899;
  color: #d0d0e0;
  border-color: #d0d0e0;
}
body .btn-primary:focus {
  box-shadow: 0 0 0 .2rem rgba(211, 211, 211, .25);
}
.no-opacity {
  opacity: 100;
}

body .mr-sm-2-2{
  background-color: transparent;
  border-color: #343a40;
  lighting-color: lightgrey;
}
body .mr-sm-2-2:focus{
  background-color: transparent;
  color: #343a40;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(155, 155, 155, 0.25);
  border-color: #343a40;
}
body .mr-sm-2-2:hover{
  background-color: transparent;
  color: #343a40;
  border-color: #343a40;
}

body .btn-outline-secondary-1 {
  border-color: lightgrey;
  color: white;
  background-color: #343a40;
}
body .btn-outline-secondary-1:hover {
  border-color: #343a40;
  color: #343a40;
  background-color: transparent;
}
body .btn-outline-secondary-1:focus {
  border-color: #343a40;
  color: #343a40;
  background-color: transparent;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(100, 100, 100, 0.25)
}
body .h6 {
  color: #2f2f2f;
}
